body {
    background-color: #ededed;
    color: #333;
    font-family: 'Raleway';
    text-align: center;
}

.title {
    margin: 30px 0 20px 0;
    font-size: 50px;
    text-shadow: 0 0 13px #FFF;
  }

.main {
    display: flex;
    justify-content: space-around;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
}

button {
    font-family: 'Raleway';
    padding: 5px 10px;
    margin: 20px;
}

button.active {
    background-color: #333;
    columns: #ededed;
}

button, 
input[type ='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 5px solid;
    grid-gap: 1px;
}

.grid-8 {
    grid-template-columns: repeat(8, 1fr);
}

.grid-16 {
    grid-template-columns: repeat(16, 1fr);
}

.grid-32 {
    grid-template-columns: repeat(32, 1fr);
}

